.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #393838;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.seperator {
    color: #CD5C00;
}

.header {
    color:#CD5C00;
    font-size: 2rem;
}

.list {
    padding-left: 0;
}

.list li{
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.list li {
    color: white;
    text-decoration: none;
}